<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
        <h1>My Todo App</h1>
        <p>Just a simple todo app created using ngrx</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <h5>Todo:</h5>

      <form (submit)="onSubmit(form)" [formGroup]="form">
          <input type="hidden" class="form-control" id="id" formControlName="id"/>
          <input type="hidden" class="form-control" id="complete" formControlName="complete"/>
          <div class="form-group">
            <input type="text" class="form-control" id="task" placeholder="task name" formControlName="task"/>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
      </form>
      
    </div>

    <div class="col-md-9">
      <app-todos [data]="todos | async"></app-todos>
    </div>

  </div>

</div>