<div class="container">

  <h1 class="text-center">My Todo List</h1>

  <div class="row">

    <div class="col-md-3">
      <form [formGroup]="todoForm">
          <div class="form-group">
            <label for="taks">Task</label>
            <input type="text" class="form-control" id="task" formControlName="task"/>
          </div>
          <button type="button" class="btn btn-primary" (click)="add()">Add</button>
      </form>
    </div>

    <div class="col-md-9">
      <h5>List of Todos</h5>
      <app-todos [data]="todos | async"></app-todos>
    </div>

  </div>

</div>